﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Site.master" AutoEventWireup="true" CodeFile="Suppliers.aspx.cs" Inherits="Admin_Reports_Suppliers" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
    Suppliers Report
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="content" Runat="Server">
    <form runat="server" class="form-horizontal">
        <div class="col-lg-12">
            <CR:CrystalReportViewer ID="crvSuppliers" runat="server" AutoDataBind="true" EnableDatabaseLogonPrompt="false"  ToolPanelView="None" />
            </div>
        </form>
</asp:Content>

